head
  title UwU:Re
#name
  h1#uwu UwU:
  h1#re Re
hr#whiteLine
#btnList
  button#browseBtn(type='button' onclick="location.href = '/home'") Browse
  button#createBtn(type='button' onclick="location.href = '/create'") Create



style.
    @media screen and (max-width: 1000px) {
        body {
            background: #859FFD;
        }
        #name {
            text-align: center;
            margin-top: 500px;
        }
        #uwu {
            color: rgb(255, 255, 255);
            display: inline;
            font-size: 200px;
        }
        #re {
            color: rgb(0, 0, 0);
            display: inline;
            font-size: 200px;
        }
        #whiteLine {
            height: 10px;
            width: 80%;
            background-color: #ffffff;
        }
        #btnList {
            margin: 0;
            position: absolute;
            left: 18%;
        }
        #browseBtn {
            font-size: 90px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: bold;
            position: absolute;
            top: 150px;
            padding: 50px 180px;
            justify-content: center;
            background: #4BD960;
            border-radius: 60px;
            border: none;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
        }
        #createBtn {
            font-size: 90px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: bold;
            position: absolute;
            top: 500px;
            padding: 50px 180px;
            justify-content: center;
            background: #A1D94B;
            border-radius: 60px;
            border: none;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
        }
    }
    }